[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "0.12.2"
mysql-connector = "*"
mysql-connector-python = "*"
numpy = "*"
pandas = "*"
requests = "*"
PyMySQL = "*"
Flask-Cors ="*"
pymongo ="*"
urllib3 ="*"
bson ="*"
plotly ="*"
glob2="*"
scipy="*"

[dev-packages]

[requires]
python_version = "3.7.6"
